In [2]:
import pandas as pd

In [3]:
active = pd.read_excel(r'C:\Users\91709\Downloads\Work\UpWork\2022-23\Ben\Data Package\Active.xlsx', sheet_name= 'Sheet2')
trans = pd.read_csv(r'C:\Users\91709\Downloads\Work\UpWork\2022-23\Ben\Data Package\Google Ads Data by Campaign and City (01Jan2022-02Oct2022).csv')

In [15]:
active_pivot= active.pivot_table(values='PUBLICATION', index=['CITY/TOWN', 'Custom', 'TEL CODE'], \
                           aggfunc=pd.Series.nunique).reset_index()

In [16]:
active_pivot

            CITY/TOWN     Custom  TEL CODE  PUBLICATION
0      100 Mile House 2022-04-20       778            1
1      100 Mile House 2022-04-21       778            2
2      100 Mile House 2022-04-22       778            2
3      100 Mile House 2022-04-23       778            3
4      100 Mile House 2022-04-24       778            3
...               ...        ...       ...          ...
99324         Wyoming 2022-10-30       519            1
99325         Wyoming 2022-10-30       548            1
99326         Wyoming 2022-10-31       226            1
99327         Wyoming 2022-10-31       519            1
99328         Wyoming 2022-10-31       548            1

[99329 rows x 4 columns]

In [17]:
active_pivot['Concat'] = active_pivot['CITY/TOWN'] + ' - ' + active_pivot['Custom'].astype(str)
trans['Concat'] = trans['City (Geographic)'] + ' - ' + trans['Day'].astype(str)

In [18]:
merge= trans.merge(active_pivot, how='left', on= 'Concat')

In [19]:
merge.to_excel('active.xlsx')